@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.pop-bold-85 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px; }
  @media (max-width: 1500px) {
    .pop-bold-85 {
      font-size: 45px;
      line-height: 50px; } }
  @media (max-width: 1100px) {
    .pop-bold-85 {
      font-size: 35px;
      line-height: 40px; } }
  @media (max-width: 500px) {
    .pop-bold-85 {
      font-size: 24px;
      line-height: 30px; } }

.pop-semibold-24 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px; }
  @media (max-width: 1100px) {
    .pop-semibold-24 {
      font-size: 14px;
      line-height: 18px; } }

.pop-reguar-18 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px; }
  @media (max-width: 1100px) {
    .pop-reguar-18 {
      font-size: 12px;
      line-height: 16px; } }

.pop-medium-20 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px; }
  @media (max-width: 1100px) {
    .pop-medium-20 {
      font-size: 14px;
      line-height: 18px; } }

.pop-bold-60 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px; }
  @media (max-width: 1100px) {
    .pop-bold-60 {
      font-size: 20px;
      line-height: 24px; } }

.pop-regular-24 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px; }
  @media (max-width: 1100px) {
    .pop-regular-24 {
      font-size: 12px;
      line-height: 16px; } }

.pop-semibold-26 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px; }
  @media (max-width: 1100px) {
    .pop-semibold-26 {
      font-size: 16px;
      line-height: 20px; } }

.pop-regular-20 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px; }
  @media (max-width: 1500px) {
    .pop-regular-20 {
      font-size: 18px;
      line-height: 22px; } }
  @media (max-width: 1100px) {
    .pop-regular-20 {
      font-size: 13px;
      line-height: 17px; } }

.pop-regular-20-small-14 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px; }
  @media (max-width: 1500px) {
    .pop-regular-20-small-14 {
      font-size: 16px;
      line-height: 20px; } }
  @media (max-width: 1100px) {
    .pop-regular-20-small-14 {
      font-size: 13px;
      line-height: 16px;
      padding: 0.25rem; } }

.pop-regular-24-small-16 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px; }
  @media (max-width: 1500px) {
    .pop-regular-24-small-16 {
      font-size: 20px;
      line-height: 23px; } }
  @media (max-width: 1100px) {
    .pop-regular-24-small-16 {
      font-size: 16px;
      line-height: 20px; } }

.pop-regular-24-small-14 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px; }
  @media (max-width: 1500px) {
    .pop-regular-24-small-14 {
      font-size: 18px;
      line-height: 22px; } }
  @media (max-width: 1100px) {
    .pop-regular-24-small-14 {
      font-size: 14px;
      line-height: 18px; } }

.pop-medium-20 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px; }
  @media (max-width: 1100px) {
    .pop-medium-20 {
      font-size: 13px;
      line-height: 17px; } }

.section-topic {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px; }
  .section-topic .topic-semi-bold {
    font-weight: 600; }
  .section-topic span {
    font-weight: 700; }
  .section-topic .p {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px; }
  @media (max-width: 1100px) {
    .section-topic {
      font-size: 24px;
      line-height: 28px; }
      .section-topic .p {
        font-size: 14px;
        line-height: 18px;
        margin-top: 0.5rem; } }

.dis-link-wrapper a.dis-link {
  display: inline-block;
  padding: 0.25rem 0;
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px; }
  .dis-link-wrapper a.dis-link i {
    margin-left: 0.5rem;
    color: #ff9e00; }
  @media (max-width: 1100px) {
    .dis-link-wrapper a.dis-link {
      font-size: 14px; } }

@media (max-width: 1100px) {
  .dis-link-wrapper {
    width: -webkit-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem);
    margin: 0 auto; } }

html {
  overflow-x: hidden; }

.center {
  position: relative;
  max-width: 1400px;
  width: 80%;
  margin: 0 auto; }

.flex-row {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between; }

.align-center {
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center; }

.align-end {
  -webkit-align-items: flex-end;
     -moz-box-align: end;
          align-items: flex-end; }

.justify-center {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center; }

.justify-left {
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start; }

.col4 {
  width: 40%; }

.col6 {
  width: 60%; }

.mt-2 {
  margin-top: 2rem; }

.btn {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-transition: 333ms all ease-out;
     -moz-transition: 333ms all ease-out;
       -o-transition: 333ms all ease-out;
          transition: 333ms all ease-out; }
  .btn.btn-p {
    padding: 1rem 2rem; }
    @media (max-width: 500px) {
      .btn.btn-p {
        padding: 0.75rem 1.75rem; } }
  .btn.btn-p-2 {
    padding: 1rem 3rem; }
  .btn.btn-has-hover-mor {
    border-radius: 30px; }
  .btn.btn-has-border {
    border: 1px solid orange;
    border-radius: 30px;
    color: #2b2b2b; }
  .btn.pop-bold-24 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px; }
    @media (max-width: 1100px) {
      .btn.pop-bold-24 {
        font-size: 14px; } }
  .btn.pop-medium-24 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px; }
    @media (max-width: 1100px) {
      .btn.pop-medium-24 {
        font-size: 14px; } }
  .btn.pop-semibold-22 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px; }
    @media (max-width: 1100px) {
      .btn.pop-semibold-22 {
        font-size: 12px; } }
  .btn.pop-semibold-24 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px; }
    @media (max-width: 1100px) {
      .btn.pop-semibold-24 {
        font-size: 14px; } }

.btn-has-bg {
  color: #fff;
  border-radius: 20px; }
  .btn-has-bg.bg-mor {
    background: -webkit-linear-gradient(0deg, #671fa3 29%, #9434b4 77%);
    background: -moz- oldlinear-gradient(0deg, #671fa3 29%, #9434b4 77%);
    background: -o-linear-gradient(0deg, #671fa3 29%, #9434b4 77%);
    background: linear-gradient(90deg, #671fa3 29%, #9434b4 77%);
    border-radius: 30px; }
  .btn-has-bg.bg-orange {
    border-radius: 30px;
    background: -webkit-linear-gradient(0deg, #ff8d2d 29%, #fcad0d 77%);
    background: -moz- oldlinear-gradient(0deg, #ff8d2d 29%, #fcad0d 77%);
    background: -o-linear-gradient(0deg, #ff8d2d 29%, #fcad0d 77%);
    background: linear-gradient(90deg, #ff8d2d 29%, #fcad0d 77%); }
  .btn-has-bg:hover {
    opacity: 0.8; }

a.btn-has-bg {
  color: #fff; }

a.btn-has-hover-mor {
  padding: 1rem 0.75rem; }
  a.btn-has-hover-mor:hover {
    background: -webkit-linear-gradient(0deg, #671fa3 29%, #9434b4 77%);
    background: -moz- oldlinear-gradient(0deg, #671fa3 29%, #9434b4 77%);
    background: -o-linear-gradient(0deg, #671fa3 29%, #9434b4 77%);
    background: linear-gradient(90deg, #671fa3 29%, #9434b4 77%); }

a:hover {
  text-decoration: none;
  color: #fff; }

.marg {
  margin-top: 90px; }

.bg {
  background-color: purple; }

.navbar {
  z-index: 25;
  position: fixed;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  width: 100%;
  height: 15vh;
  max-height: 90px;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 333ms all ease-out;
     -moz-transition: 333ms all ease-out;
       -o-transition: 333ms all ease-out;
          transition: 333ms all ease-out; }
  .navbar .header-bg {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    background-color: #fff;
    -webkit-transition: 333ms height ease-out;
       -moz-transition: 333ms height ease-out;
         -o-transition: 333ms height ease-out;
            transition: 333ms height ease-out; }
  .navbar .nav-list {
    display: -webkit-flex;
    display: -moz-box;
    display: flex; }
    .navbar .nav-list .nav-buttons {
      display: -webkit-flex;
      display: -moz-box;
      display: flex; }
      .navbar .nav-list .nav-buttons .nav-btn {
        color: #000;
        margin-left: 0.25rem;
        margin-right: 0.25rem; }
        .navbar .nav-list .nav-buttons .nav-btn:first-of-type {
          margin-left: 0; }
        .navbar .nav-list .nav-buttons .nav-btn:last-of-type {
          margin-right: 0; }
    .navbar .nav-list .tekal {
      margin-left: 0.25rem;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-align-items: center;
         -moz-box-align: center;
              align-items: center; }
      .navbar .nav-list .tekal .mobile {
        cursor: pointer;
        position: relative;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-align-items: center;
           -moz-box-align: center;
                align-items: center;
        display: none;
        z-index: 10;
        color: blueviolet;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px; }
        .navbar .nav-list .tekal .mobile:before {
          font-family: "Poppins", sans-serif;
          content: "TR";
          font-size: 14px;
          font-weight: 500;
          line-height: 10px;
          vertical-align: middle;
          padding-right: 0.5rem; }
  @media (max-width: 1100px) {
    .navbar .nav-bar {
      width: 150px; }
      .navbar .nav-bar img {
        width: 100%; }
    .navbar .nav-list {
      text-align: center; }
      .navbar .nav-list .nav-buttons .nav-btn {
        margin: 0; }
      .navbar .nav-list .pop-regular-20 {
        font-size: 20px; } }

.iletisim {
  width: 100%;
  margin-top: 3rem; }
  .iletisim .contact {
    margin-bottom: 3rem; }
    .iletisim .contact .sendme {
      width: 40%;
      margin-top: 3rem; }
      .iletisim .contact .sendme .bar {
        width: 90%;
        border-radius: 5px;
        padding: 1rem;
        margin-top: 1rem;
        border: none;
        background-color: #f7f7fb; }
        .iletisim .contact .sendme .bar:focus {
          outline: none; }
      .iletisim .contact .sendme .bar:nth-child(4) {
        height: 80px;
        resize: none;
        padding-top: 1rem; }
      .iletisim .contact .sendme .btn-wrapper {
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        width: -webkit-calc(100% - 2rem);
        width: -moz-calc(100% - 2rem);
        width: calc(100% - 2rem);
        margin: 0 auto;
        margin-top: 2rem; }
        .iletisim .contact .sendme .btn-wrapper .sendbtn {
          padding: 1rem 3rem;
          border-radius: 30px;
          color: white;
          border: none;
          margin-left: auto;
          background-color: #ff9600; }
          @media (max-width: 1100px) {
            .iletisim .contact .sendme .btn-wrapper .sendbtn {
              padding: 1rem 4rem; } }
    .iletisim .contact .contact-bilgi {
      width: 50%;
      margin-top: 3rem;
      padding-top: 3rem; }
      .iletisim .contact .contact-bilgi a {
        color: #000; }
      .iletisim .contact .contact-bilgi .bilnes {
        box-shadow: 0px 0px 10px 4px rgba(227, 230, 241, 0.9);
        margin-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 60px;
        border-radius: 7px; }
        .iletisim .contact .contact-bilgi .bilnes img {
          margin-top: -1.5rem;
          margin-right: 0.5rem;
          max-height: 50px;
          max-width: 50px; }
        .iletisim .contact .contact-bilgi .bilnes.baglantilar a {
          display: -webkit-flex;
          display: -moz-box;
          display: flex;
          -webkit-align-items: center;
             -moz-box-align: center;
                  align-items: center;
          -webkit-perspective: 50px;
             -moz-perspective: 50px;
                  perspective: 50px; }
          .iletisim .contact .contact-bilgi .bilnes.baglantilar a img {
            margin-top: 0;
            max-width: 40px;
            max-height: 40px;
            -webkit-transition: 666ms;
               -moz-transition: 666ms;
                 -o-transition: 666ms;
                    transition: 666ms; }
          .iletisim .contact .contact-bilgi .bilnes.baglantilar a:last-child img {
            margin-right: 0; }
          .iletisim .contact .contact-bilgi .bilnes.baglantilar a:hover:nth-of-type(2n) img {
            -webkit-transform: rotateX(-360deg);
               -moz-transform: rotateX(-360deg);
                    transform: rotateX(-360deg); }
          .iletisim .contact .contact-bilgi .bilnes.baglantilar a:hover:nth-of-type(2n+1) img {
            -webkit-transform: rotateY(-360deg);
               -moz-transform: rotateY(-360deg);
                    transform: rotateY(-360deg); }
      .iletisim .contact .contact-bilgi .tel {
        margin-left: 1rem; }
      .iletisim .contact .contact-bilgi .posta {
        margin-top: 1.5rem;
        margin-right: 0.25rem; }
      .iletisim .contact .contact-bilgi .adres {
        width: 80%;
        margin-left: 4rem; }
      .iletisim .contact .contact-bilgi .map {
        margin-top: 1.5rem;
        margin-right: 1rem; }
    @media (max-width: 1100px) {
      .iletisim .contact .sendme .btn-wrapper .sendbtn {
        margin: auto; }
      .iletisim .contact .contact-bilgi {
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        width: 100%;
        margin-top: 1rem;
        -webkit-justify-content: center;
           -moz-box-pack: center;
                justify-content: center;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
                flex-direction: column; }
        .iletisim .contact .contact-bilgi .bilnes {
          -webkit-justify-content: center;
             -moz-box-pack: center;
                  justify-content: center;
          margin-top: 1rem; }
        .iletisim .contact .contact-bilgi .tel {
          width: 50%;
          margin: 1.5rem auto 0 auto;
          -webkit-flex-direction: row;
             -moz-box-orient: horizontal;
             -moz-box-direction: normal;
                  flex-direction: row; }
        .iletisim .contact .contact-bilgi .posta {
          margin: 1.5rem auto 0 auto;
          width: 60%;
          -webkit-flex-direction: row;
             -moz-box-orient: horizontal;
             -moz-box-direction: normal;
                  flex-direction: row; }
        .iletisim .contact .contact-bilgi .adres {
          margin: 1.5rem auto 0 auto;
          width: 80%;
          height: 20%;
          -webkit-flex-direction: row;
             -moz-box-orient: horizontal;
             -moz-box-direction: normal;
                  flex-direction: row; }
        .iletisim .contact .contact-bilgi .baglantilar {
          margin: 1.5rem auto 0 auto;
          width: 84%;
          -webkit-flex-direction: row;
             -moz-box-orient: horizontal;
             -moz-box-direction: normal;
                  flex-direction: row; }
        .iletisim .contact .contact-bilgi .map {
          margin: 1.5rem auto 0 auto;
          width: 40%;
          -webkit-order: -1;
             -moz-box-ordinal-group: 0;
                  order: -1;
          -webkit-flex-direction: row;
             -moz-box-orient: horizontal;
             -moz-box-direction: normal;
                  flex-direction: row; } }

.footer {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  height: 180px;
  width: 100%;
  margin-top: 3rem;
  background: -webkit-linear-gradient(0deg, #671fa3 29%, #9434b4 77%);
  background: -moz- oldlinear-gradient(0deg, #671fa3 29%, #9434b4 77%);
  background: -o-linear-gradient(0deg, #671fa3 29%, #9434b4 77%);
  background: linear-gradient(90deg, #671fa3 29%, #9434b4 77%); }
  .footer .footer-items {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center; }
  .footer p {
    color: #fff;
    margin-left: 2rem; }

@media screen and (max-width: 1100px) {
  .navbar .center {
    width: -webkit-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem); }
  .navbar .nav-list .nav-buttons {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    -webkit-transition: 333ms all ease-out;
       -moz-transition: 333ms all ease-out;
         -o-transition: 333ms all ease-out;
            transition: 333ms all ease-out;
    background-color: #fff; }
  .navbar .nav-list .tekal .tek-btn {
    display: none; }
  .navbar .nav-list .tekal .mobile {
    display: block; }
  .iletisim .center {
    width: -webkit-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem); }
  .iletisim .contact .flex-row {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column; }
    .iletisim .contact .flex-row .bilnes.flex-row {
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
              flex-direction: row; }
  .iletisim .contact .sendme {
    width: 100%; }
    .iletisim .contact .sendme .bar {
      width: -webkit-calc(100% - 2rem);
      width: -moz-calc(100% - 2rem);
      width: calc(100% - 2rem); }
  .iletisim .contact .contact-bilgi {
    width: 100%; } }

@media (max-width: 768px) {
  .navbar .nav-brand {
    width: 100px; }
    .navbar .nav-brand img {
      width: 100%; } }

.anasayfa-slider {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  background-color: #f7f7fb; }
  .anasayfa-slider .center .right-flow {
    position: relative;
    max-width: 1500px;
    width: 110%;
    height: 100vh;
    max-height: 900px; }
  .anasayfa-slider .center .flex-end {
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
            justify-content: flex-end; }
  .anasayfa-slider .a-slider-writing {
    width: 40%;
    height: 100vh;
    max-height: 900px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center; }
    .anasayfa-slider .a-slider-writing .a-slider-writing-overflow {
      width: 130%;
      z-index: 2; }
      .anasayfa-slider .a-slider-writing .a-slider-writing-overflow .a-slider-carousel .owl-dots {
        display: none; }
    .anasayfa-slider .a-slider-writing h1 {
      padding: 1rem 0;
      color: #2b2b2b; }
    .anasayfa-slider .a-slider-writing .btn-wrapper .btn {
      display: inline-block;
      margin-top: 3rem; }
  .anasayfa-slider .a-slider-image-wrapper {
    width: 60%;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between; }
    .anasayfa-slider .a-slider-image-wrapper .slider-wrapper {
      background-color: #efeff7;
      overflow: hidden;
      border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
      width: 100%; }
      .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item {
        position: relative;
        width: 100%;
        height: 100vh;
        max-height: 900px; }
        .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image {
          display: -webkit-flex;
          display: -moz-box;
          display: flex;
          -webkit-align-items: center;
             -moz-box-align: center;
                  align-items: center;
          -webkit-justify-content: center;
             -moz-box-pack: center;
                  justify-content: center;
          overflow: hidden; }
          .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.contain img {
            width: auto;
            height: auto;
            min-width: 120%;
            max-height: 100%; }
          .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.has-overlay:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(107, 55, 141, 0.5); }
          .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.img-center {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            -webkit-align-items: center;
               -moz-box-align: center;
                    align-items: center; }
            .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.img-center.has-bg {
              background-color: rgba(107, 55, 141, 0.8); }
            .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.img-center img {
              width: 200px; }
          .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.has-video {
            position: relative;
            height: 90vh;
            max-height: 900px; }
            .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.has-video iframe {
              width: 90%;
              height: 60%; }
            .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.has-video .slider-video {
              position: absolute;
              top: -10px;
              min-width: 110%;
              min-height: 130%;
              border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%; }
    .anasayfa-slider .a-slider-image-wrapper .a-s-buttons {
      z-index: 2;
      position: relative;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-align-items: flex-end;
         -moz-box-align: end;
              align-items: flex-end;
      margin-bottom: 4rem;
      margin-left: -50%;
      padding: 0.5rem; }
      .anasayfa-slider .a-slider-image-wrapper .a-s-buttons .btn:first-of-type {
        margin-right: 1.5rem; }
      .anasayfa-slider .a-slider-image-wrapper .a-s-buttons .arrow-right-mor {
        margin-bottom: 2rem; }
  .anasayfa-slider .ortala {
    z-index: 1;
    position: absolute;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
            justify-content: flex-end;
    width: 100%;
    bottom: 0px; }
    .anasayfa-slider .ortala .alt {
      width: 80%;
      max-width: 800px;
      margin-bottom: -5px; }
      .anasayfa-slider .ortala .alt img {
        width: 100%; }
    .anasayfa-slider .ortala .btn-wrapper {
      position: absolute;
      top: 50px;
      left: 0; }

.hizmet {
  position: relative;
  margin-top: 150px;
  overflow: hidden; }
  @media (max-width: 1100px) {
    .hizmet .center {
      width: 100%; } }
  @media (max-width: 1100px) {
    .hizmet .section-topic {
      width: -webkit-calc(100% - 2rem);
      width: -moz-calc(100% - 2rem);
      width: calc(100% - 2rem);
      margin: 0 auto; } }
  .hizmet .hizmetler-buttons .btn {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    color: #fff; }
    .hizmet .hizmetler-buttons .btn:first-of-type {
      margin-right: 1rem; }
  @media (max-width: 1100px) {
    .hizmet .hizmetler-buttons {
      display: none; } }
  .hizmet .right-flow {
    max-width: 1700px;
    width: 120%; }
  .hizmet .hizmetler-carousel {
    margin-top: 2rem;
    margin-bottom: 2rem; }
    @media (max-width: 1100px) {
      .hizmet .hizmetler-carousel {
        margin-left: 20px; } }
    .hizmet .hizmetler-carousel .owl-stage-outer {
      margin-left: -1rem; }
      .hizmet .hizmetler-carousel .owl-stage-outer .owl-stage .owl-item:nth-child(2n + 1) {
        margin-top: 3rem; }
    .hizmet .hizmetler-carousel a.item {
      display: block;
      color: #2b2b2b; }
    .hizmet .hizmetler-carousel .card {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
      overflow: hidden;
      text-align: center;
      border-radius: 15px;
      box-shadow: 0px 0px 10px #e3e6f1;
      background-color: #fff; }
      @media (max-width: 1100px) {
        .hizmet .hizmetler-carousel .card {
          margin-left: 0px; } }
      .hizmet .hizmetler-carousel .card h2 {
        margin-top: 1rem; }
      .hizmet .hizmetler-carousel .card p {
        margin-top: 1rem; }

.isler {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background: #f7f7fb; }
  @media (max-width: 1100px) {
    .isler .center {
      width: 100%; } }
  @media (max-width: 1100px) {
    .isler .section-topic {
      width: -webkit-calc(100% - 2rem);
      width: -moz-calc(100% - 2rem);
      width: calc(100% - 2rem);
      margin: 0 auto; } }
  .isler .flex-row {
    margin-bottom: 1rem; }
  .isler .iswrap {
    position: relative;
    padding-top: 2rem; }
    @media (max-width: 1100px) {
      .isler .iswrap {
        display: none; } }
    .isler .iswrap .is-card {
      width: 32.5%;
      height: 500px;
      background-image: url("../../dest/images/is.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
              flex-direction: column; }
      .isler .iswrap .is-card .topic {
        padding: 2rem;
        width: 50px; }
      .isler .iswrap .is-card .card-content {
        padding: 2rem;
        margin-top: auto;
        margin-bottom: 1rem;
        color: #fff; }
      .isler .iswrap .is-card .overlay {
        position: absolute;
        background-color: rgba(107, 55, 141, 0.8);
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
                flex-direction: column;
        -webkit-transition: 333ms all ease-out;
           -moz-transition: 333ms all ease-out;
             -o-transition: 333ms all ease-out;
                transition: 333ms all ease-out;
        -webkit-transform: translateY(100%);
           -moz-transform: translateY(100%);
             -o-transform: translateY(100%);
                transform: translateY(100%);
        will-change: transform; }
        .isler .iswrap .is-card .overlay div,
        .isler .iswrap .is-card .overlay a {
          -webkit-transition: 333ms all ease-out;
             -moz-transition: 333ms all ease-out;
               -o-transition: 333ms all ease-out;
                  transition: 333ms all ease-out;
          -webkit-transition-delay: 333ms;
             -moz-transition-delay: 333ms;
               -o-transition-delay: 333ms;
                  transition-delay: 333ms;
          opacity: 0; }
        .isler .iswrap .is-card .overlay .topic {
          padding: 2rem; }
        .isler .iswrap .is-card .overlay .overlay-content {
          padding: 0.5rem 2rem;
          color: #fff;
          width: 100%; }
        .isler .iswrap .is-card .overlay .overlay-link {
          padding: 0rem 2rem;
          margin-top: auto;
          margin-left: auto;
          color: #fff; }
          .isler .iswrap .is-card .overlay .overlay-link span.angle {
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            -webkit-align-items: center;
               -moz-box-align: center;
                    align-items: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                    justify-content: center;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 35px;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: orange;
            margin-left: 1rem; }
          .isler .iswrap .is-card .overlay .overlay-link:hover {
            opacity: 0.8; }
      .isler .iswrap .is-card:hover .overlay {
        -webkit-transform: translateY(0);
           -moz-transform: translateY(0);
             -o-transform: translateY(0);
                transform: translateY(0); }
        .isler .iswrap .is-card:hover .overlay div,
        .isler .iswrap .is-card:hover .overlay a {
          opacity: 1; }
      .isler .iswrap .is-card:hover .card-content {
        opacity: 0; }
  .isler .iswrap-mobil {
    display: none; }
    @media (max-width: 1100px) {
      .isler .iswrap-mobil {
        display: -webkit-flex;
        display: -moz-box;
        display: flex; } }
    .isler .iswrap-mobil .is-card {
      width: 100%;
      height: 320px; }
  .isler .btn-wrapper {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    margin-top: 1rem; }

.cagir {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  background-color: white; }
  .cagir .col4 img {
    margin-left: -30%;
    width: 140%; }
  .cagir .cagir-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000; }
    .cagir .cagir-content h1 {
      color: #000;
      margin-bottom: 2rem; }
    .cagir .cagir-content .between-part {
      display: inline-block;
      margin-right: 1rem;
      margin-left: 1rem;
      vertical-align: center; }
    .cagir .cagir-content .btn {
      display: inline-block; }
  @media (max-width: 1100px) {
    .cagir .center {
      width: -webkit-calc(100% - 2rem);
      width: -moz-calc(100% - 2rem);
      width: calc(100% - 2rem); }
    .cagir .flex-row {
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
              flex-direction: column; }
    .cagir .col4 {
      width: 50%; }
    .cagir .col6 {
      width: 100%; }
    .cagir .cagir-content {
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
              flex-direction: column;
      -webkit-align-items: center;
         -moz-box-align: center;
              align-items: center; }
      .cagir .cagir-content .cagir-btn-side {
        width: 100%;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-align-items: center;
           -moz-box-align: center;
                align-items: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
                justify-content: center;
        padding-bottom: 0.25rem; }
      .cagir .cagir-content h1 {
        margin-bottom: 1rem; } }
  @media (max-width: 500px) {
    .cagir .col4 {
      width: 80%; }
    .cagir .cagir-content .between-part {
      margin-right: 0.25rem;
      margin-left: 0.25rem; }
    .cagir .cagir-content .cagir-btn-side {
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
              justify-content: space-between; } }

.bakis {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  overflow: hidden; }
  @media (max-width: 1100px) {
    .bakis .section-topic {
      width: -webkit-calc(100% - 2rem);
      width: -moz-calc(100% - 2rem);
      width: calc(100% - 2rem);
      margin: 0 auto; } }
  @media (max-width: 1100px) {
    .bakis .center {
      width: 100%; } }
  .bakis .bakislink {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
            align-items: flex-end; }
    @media (max-width: 1100px) {
      .bakis .bakislink {
        display: none; } }
  .bakis .bakislink1 {
    display: none; }
    @media (max-width: 1100px) {
      .bakis .bakislink1 {
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-justify-content: center;
           -moz-box-pack: center;
                justify-content: center; } }
  .bakis .btn-wrapper-left {
    position: relative; }
    .bakis .btn-wrapper-left .btn {
      position: absolute;
      left: -60px;
      width: 50px;
      height: 50px;
      font-weight: 500;
      font-size: 25px;
      border-radius: 50px;
      box-shadow: 0px 0px 10px #e3e6f1; }
    @media (max-width: 1100px) {
      .bakis .btn-wrapper-left {
        display: none; } }
  .bakis .btn-wrapper-right {
    position: relative; }
    .bakis .btn-wrapper-right .btn {
      position: absolute;
      width: 50px;
      height: 50px;
      right: -60px;
      font-weight: 500;
      font-size: 25px;
      border-radius: 50px;
      box-shadow: 0px 0px 10px #e3e6f1; }
    @media (max-width: 1100px) {
      .bakis .btn-wrapper-right {
        display: none; } }
  .bakis .bakis-carousel {
    margin-top: 3rem; }
    @media (max-width: 1100px) {
      .bakis .bakis-carousel {
        display: none; } }
    .bakis .bakis-carousel.bakis-carousel-mobil {
      display: none; }
      @media (max-width: 1100px) {
        .bakis .bakis-carousel.bakis-carousel-mobil {
          display: block; } }
    .bakis .bakis-carousel .card {
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
              flex-direction: column;
      margin-top: 1rem;
      margin-bottom: 1rem;
      overflow: hidden;
      text-align: left;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #e3e6f1; }
      .bakis .bakis-carousel .card p {
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600; }
      .bakis .bakis-carousel .card .bakisbtn {
        margin: 1rem;
        margin-top: auto; }
        .bakis .bakis-carousel .card .bakisbtn a {
          margin-left: auto;
          width: 40px;
          height: 40px;
          display: -webkit-flex;
          display: -moz-box;
          display: flex;
          -webkit-align-items: center;
             -moz-box-align: center;
                  align-items: center;
          -webkit-justify-content: center;
             -moz-box-pack: center;
                  justify-content: center;
          overflow: hidden;
          border-radius: 50px;
          border: 1px solid #ff9e00; }
          @media (max-width: 500px) {
            .bakis .bakis-carousel .card .bakisbtn a {
              width: 30px;
              height: 30px; } }
        .bakis .bakis-carousel .card .bakisbtn i {
          font-size: 30px;
          color: #ff9e00; }
          @media (max-width: 500px) {
            .bakis .bakis-carousel .card .bakisbtn i {
              font-size: 20px; } }
  .bakis .yuvarlak {
    z-index: -1;
    position: absolute;
    height: 600px;
    width: 600px;
    right: -20%;
    top: -5%;
    border-radius: 750px;
    background-color: #f7f7fb; }

.musteri {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7fb; }
  @media (max-width: 1100px) {
    .musteri .center {
      width: 100%; } }
  @media (max-width: 1100px) {
    .musteri .center .section-topic {
      width: -webkit-calc(100% - 2rem);
      width: -moz-calc(100% - 2rem);
      width: calc(100% - 2rem);
      margin: 0 auto; } }
  .musteri .bg-image-top {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-60%);
       -moz-transform: translateY(-60%);
         -o-transform: translateY(-60%);
            transform: translateY(-60%); }
    .musteri .bg-image-top img {
      width: 100%; }
  .musteri .bg-image-bottom {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(60%);
       -moz-transform: translateY(60%);
         -o-transform: translateY(60%);
            transform: translateY(60%); }
    .musteri .bg-image-bottom img {
      width: 100%; }
  .musteri .musteriwrap {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #f7f7fb;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 130px);
    grid-gap: 4rem; }
    .musteri .musteriwrap .musterines {
      cursor: pointer;
      -webkit-filter: grayscale(9);
              filter: grayscale(9);
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-justify-content: center;
         -moz-box-pack: center;
              justify-content: center;
      -webkit-align-items: center;
         -moz-box-align: center;
              align-items: center;
      background-color: white;
      border-radius: 50px;
      -webkit-transition: 333ms all ease-out;
         -moz-transition: 333ms all ease-out;
           -o-transition: 333ms all ease-out;
              transition: 333ms all ease-out;
      box-shadow: 0px 0px 10px 4px rgba(227, 230, 241, 0.9); }
      .musteri .musteriwrap .musterines img {
        width: auto;
        max-width: 90%;
        max-height: 90%;
        height: auto; }
      .musteri .musteriwrap .musterines:hover {
        -webkit-filter: none;
                filter: none; }
      @media (max-width: 1100px) {
        .musteri .musteriwrap .musterines {
          height: 70px; } }
    .musteri .musteriwrap.musteriwrap-mobil {
      display: none; }
      .musteri .musteriwrap.musteriwrap-mobil .musterines {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 30px; }
      @media (max-width: 1100px) {
        .musteri .musteriwrap.musteriwrap-mobil {
          display: block; } }
    @media (max-width: 1100px) {
      .musteri .musteriwrap {
        display: none; } }

@media screen and (min-width: 1520px) {
  .anasayfa-slider .ortala .btn-wrapper {
    top: -2vh; } }

@media screen and (max-width: 900px) {
  .anasayfa-slider .center {
    width: 60%; }
    .anasayfa-slider .center .flex-row {
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
              flex-direction: column;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
              justify-content: space-between; }
    .anasayfa-slider .center .right-flow {
      width: 100%;
      padding-top: 15vh;
      height: 85vh;
      max-height: 900px; }
  .anasayfa-slider .a-slider-writing {
    height: 15vh;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
    width: 100%; }
    .anasayfa-slider .a-slider-writing .a-slider-writing-overflow {
      width: 100%; }
  .anasayfa-slider .a-slider-image-wrapper {
    height: 60vh;
    width: 100%; }
    .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.img-center {
      -webkit-align-items: flex-start;
         -moz-box-align: start;
              align-items: flex-start; }
      .anasayfa-slider .a-slider-image-wrapper .slider-wrapper .a-slider-carousel-img .item .a-slider-image.img-center img {
        padding-top: 2rem;
        width: 150px; }
    .anasayfa-slider .a-slider-image-wrapper .a-s-buttons {
      display: none; }
  .anasayfa-slider .ortala {
    overflow: hidden; }
    .anasayfa-slider .ortala .alt {
      width: 100%;
      position: relative; }
      .anasayfa-slider .ortala .alt img {
        width: 100%; }
    .anasayfa-slider .ortala .btn-wrapper {
      top: initial;
      bottom: 0;
      left: -webkit-calc(50%);
      left: -moz-calc(50%);
      left: calc(50%);
      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%); }
      .anasayfa-slider .ortala .btn-wrapper .btn-has-bg {
        background: -webkit-linear-gradient(0deg, #ff8d2d 29%, #fcad0d 77%);
        background: -moz- oldlinear-gradient(0deg, #ff8d2d 29%, #fcad0d 77%);
        background: -o-linear-gradient(0deg, #ff8d2d 29%, #fcad0d 77%);
        background: linear-gradient(90deg, #ff8d2d 29%, #fcad0d 77%); } }

@media screen and (max-width: 520px) {
  .anasayfa-slider {
    height: 90vh; }
    .anasayfa-slider .center {
      width: -webkit-calc(100% - 2rem);
      width: -moz-calc(100% - 2rem);
      width: calc(100% - 2rem); }
      .anasayfa-slider .center .right-flow {
        height: 75vh; }
    .anasayfa-slider .a-slider-image-wrapper {
      height: 60vh;
      width: 100%; }
      .anasayfa-slider .a-slider-image-wrapper .a-s-buttons {
        display: none; }
    .anasayfa-slider .ortala {
      width: -webkit-calc(100% + 2rem);
      width: -moz-calc(100% + 2rem);
      width: calc(100% + 2rem);
      margin-left: -1rem;
      -webkit-justify-content: center;
         -moz-box-pack: center;
              justify-content: center; }
      .anasayfa-slider .ortala .alt img {
        width: 130%;
        margin-left: -15%; }
      .anasayfa-slider .ortala .btn-wrapper {
        top: initial;
        bottom: 0; } }

@media screen and (max-width: 450px) {
  .anasayfa-slider .a-slider-image-wrapper {
    height: 50vh; }
  .anasayfa-slider .ortala {
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center; }
    .anasayfa-slider .ortala .alt img {
      width: 130%;
      margin-left: -15%; }
    .anasayfa-slider .ortala .btn-wrapper {
      width: 70%;
      top: initial;
      bottom: 0; } }