// _____________________________ slider _____________________________________________________________
.anasayfa-slider {
    width: 100%;
    background-color: #f7f7fb;
    .center {
        min-height: 500px;
        .right-flow {
            position: relative;
            max-width: 1500px;
            width: 110%;
            overflow-y: hidden;
            // min-height: 500px;
        }
        .flex-end {
            justify-content: flex-end;
        }
    }
    .a-slider-writing {
        width: 40%;
        height: 100vh;
        max-height: 900px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .a-slider-writing-overflow {
            width: 130%;
            z-index: 2;
            .a-slider-carousel {
                .owl-dots {
                    display: none;
                }
            }
        }
        h1 {
            padding: 1rem 0;
            color: $topicBlack;
        }
        .btn-wrapper {
            .btn {
                display: inline-block;
                margin-top: 3rem;
            }
        }
    }
    .slider-image-side {
        width: 60%;
        height: 100vh;
        max-height: 900px;

        min-height: 600px;

        display: flex;
        justify-content: space-between;
        .slider-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: inherit;
            max-height: inherit;

            min-height: inherit;

            background-color: #efeff7;
            overflow: hidden;
            border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
            .a-slider-carousel-img {
                width: inherit;
                height: inherit;
                max-height: inherit;

                min-height: inherit;

                // width: calc(100% - 10px);
                // height: calc(100% - 10px);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
                overflow: hidden;
                .item {
                    height: 100vh;
                    max-height: 900px;

                    min-height: 600px;

                    width: calc(100%);
                    // height: calc(100vh - 20px);
                    // width: calc(100% - 20px);

                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
                    .a-slider-image {
                        width: inherit;
                        height: inherit;
                        max-height: inherit;

                        min-height: inherit;

                        overflow: hidden;
                        border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
                        &.contain {
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            img {
                                height: 100%;
                                min-height: 110%;
                                width: auto;
                            }
                            &.has-overlay {
                                position: relative;
                                overflow: hidden;
                                clear: both;
                                border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba(107, 55, 141, 0.5);
                                }
                            }
                        }
                        &.img-center {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
                            &.has-bg {
                                background-color: rgba(107, 55, 141, 0.8);
                            }
                            img {
                                width: 200px;
                            }
                        }
                        &.has-video {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
                            overflow: hidden;
                            position: relative;
                            .video-cover{
                                z-index: 2;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: transparent;
                            }
                            .iframe {
                                min-height: 150%;
                                min-width: 150%;
                                border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
                            }
                            .slider-video {
                                min-height: 150%;
                                width: auto;
                                border-radius: 46% 54% 50% 50% / 34% 39% 61% 66%;
                                // transform: translateY(-20%);
                            }
                        }
                    }
                }
            }
        }
        .a-s-buttons {
            z-index: 3;
            position: relative;
            display: flex;
            align-items: flex-end;
            margin-bottom: 4rem;
            margin-left: -50%;
            padding: 0.5rem;
            // background-color: red;
            .btn {
                &:first-of-type {
                    margin-right: 1.5rem;
                }
            }
            .arrow-right-mor {
                margin-bottom: 2rem;
            }
        }
    }
    .ortala {
        z-index: 1;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 90%;
        bottom: 0px;
        // background-color: pink;
        .alt {
            width: 100%;
            max-width: 800px;
            margin-bottom: -5px;
            // background-color: lime;
            // margin-right: 3rem;
            img {
                width: 100%;
            }
        }
        .btn-wrapper {
            position: absolute;
            top: 50px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .owl-dots {
                position: relative;
                width: max-content;
                display: none;
                bottom: 10px;
                .owl-dot {
                    cursor: pointer;
                    width: 12px;
                    height: 12px;
                    margin: 5px 6px;
                    opacity: 0.5;
                    border-radius: 20px;
                    background: none repeat scroll 0 0 #869791;
                    &.active {
                        background: $btn-bg-linear-mor;
                    }
                }
            }
        }
    }
}

.hizmet {
    position: relative;
    margin-top: 150px;
    overflow: hidden;
    .center {
        @include respond(medium) {
            width: 100%;
        }
    }
    .section-topic {
        @include respond(medium) {
            width: calc(100% - 2rem);
            margin: 0 auto;
        }
    }
    .hizmetler-buttons {
        .btn {
            height: 50px;
            width: 50px;
            border-radius: 50px;
            color: #fff;
            &:first-of-type {
                margin-right: 1rem;
            }
        }
        @include respond(medium) {
            display: none;
        }
    }
    .right-flow {
        max-width: 1700px;
        width: 120%;
    }
    .hizmetler-carousel {
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include respond(medium) {
            margin-left: 20px;
        }
        .owl-stage-outer {
            margin-left: -1rem;
            .owl-stage {
                .owl-item {
                    &:nth-child(2n + 1) {
                        margin-top: 3rem;
                    }
                }
            }
        }
        a.item {
            display: block;
            color: $topicBlack;
        }
        .card {
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;
            overflow: hidden;
            text-align: center;
            border-radius: 15px;
            box-shadow: 0px 0px 10px $shadowColor;
            background-color: #fff;
            @include respond(medium) {
                margin-left: 0px;
            }
            h2 {
                margin-top: 1rem;
                // font-family: $font;
                // font-weight: 600;
            }
            p {
                margin-top: 1rem;
                // font-family: $font;
                // font-weight: 400;
            }
        }
    }
}

.isler {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background: #f7f7fb;
    .center {
        @include respond(medium) {
            width: 100%;
        }
    }
    .section-topic {
        @include respond(medium) {
            width: calc(100% - 2rem);
            margin: 0 auto;
        }
    }
    .flex-row {
        margin-bottom: 1rem;
    }
    .iswrap {
        position: relative;
        padding-top: 2rem;
        .is-card {
            width: 32.5%;
            height: 500px;
            background-image: url("../../dest/images/is.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            @include respond(medium) {
                // display: none;
            }
            .topic {
                padding: 2rem;
                width: 50px;
            }
            .card-content {
                padding: 2rem;
                margin-top: auto;
                margin-bottom: 1rem;
                // font-family: $font;
                // font-weight: 500;
                // font-size: 16px;
                color: #fff;
            }
            .overlay {
                position: absolute;
                background-color: rgba(107, 55, 141, 0.8);
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                transition: 333ms all ease-out;
                transform: translateY(100%);
                will-change: transform;
                div,
                a {
                    transition: 333ms all ease-out;
                    transition-delay: 333ms;
                    opacity: 0;
                }
                .topic {
                    padding: 2rem;
                }
                .overlay-content {
                    padding: 0.5rem 2rem;
                    // font-family: $font;
                    // font-weight: 500;
                    // font-size: 16px;
                    color: #fff;
                    width: 100%;
                }
                .overlay-link {
                    padding: 0rem 2rem;
                    margin-top: auto;
                    margin-left: auto;
                    // font-family: $font;
                    // font-weight: 500;
                    // font-size: 20px;
                    color: #fff;
                    span.angle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: $font;
                        font-weight: 400;
                        font-size: 35px;
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        background-color: orange;
                        margin-left: 1rem;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            &:hover {
                .overlay {
                    transform: translateY(0);
                    div,
                    a {
                        opacity: 1;
                    }
                }
                .card-content {
                    opacity: 0;
                }
            }
        }
        &.iswrap-dekstop {
            @include respond(medium) {
                display: none;
            }
        }
        &.iswrap-mobil {
            visibility: hidden;
            height: 0;
            @include respond(medium) {
                visibility: visible;
                height: auto;
            }
            .is-card {
                width: 100%;
                height: 320px;
            }
        }
    }
    .btn-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        // font-weight: 700;
        // font-size: 24px;
    }
}

.cagir {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    background-color: white;
    .col4 {
        img {
            margin-left: -30%;
            width: 140%;
        }
    }
    .cagir-content {
        font-family: $font;
        font-weight: 400;
        font-size: 18px;
        color: #000;
        h1 {
            color: #000;
            margin-bottom: 2rem;
        }
        .between-part {
            display: inline-block;
            margin-right: 1rem;
            margin-left: 1rem;
            vertical-align: center;
        }
        .btn {
            display: inline-block;
        }
    }
    @include respond(medium) {
        .center {
            width: calc(100% - 2rem);
        }
        .flex-row {
            flex-direction: column;
        }
        .col4 {
            width: 50%;
        }
        .col6 {
            width: 100%;
        }
        .cagir-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .cagir-btn-side {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 0.25rem;
            }
            h1 {
                margin-bottom: 1rem;
            }
        }
    }
    @include respond(small) {
        .col4 {
            width: 80%;
        }
        .cagir-content {
            .between-part {
                margin-right: 0.25rem;
                margin-left: 0.25rem;
            }
            .cagir-btn-side {
                justify-content: space-between;
            }
        }
    }
}

.bakis {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    overflow: hidden;
    .section-topic {
        @include respond(medium) {
            width: calc(100% - 2rem);
            margin: 0 auto;
        }
    }
    .center {
        @include respond(medium) {
            width: 100%;
        }
    }
    .bakislink {
        display: flex;
        align-items: flex-end;
        @include respond(medium) {
            display: none;
        }
    }
    .bakislink1 {
        display: none;
        @include respond(medium) {
            display: flex;
            justify-content: center;
        }
        .btn {
            @include respond(medium) {
            }
        }
    }
    .btn-wrapper-left {
        position: relative;
        .btn {
            position: absolute;
            left: -60px;
            width: 50px;
            height: 50px;
            font-weight: 500;
            font-size: 25px;
            border-radius: 50px;
            box-shadow: 0px 0px 10px $shadowColor;
        }
        @include respond(medium) {
            display: none;
        }
    }
    .btn-wrapper-right {
        position: relative;
        .btn {
            position: absolute;
            width: 50px;
            height: 50px;
            right: -60px;
            font-weight: 500;
            font-size: 25px;
            border-radius: 50px;
            box-shadow: 0px 0px 10px $shadowColor;
        }
        @include respond(medium) {
            display: none;
        }
    }
    .bakis-carousel {
        margin-top: 3rem;
        @include respond(medium) {
            display: none;
        }
        &.bakis-carousel-mobil {
            display: none;
            @include respond(medium) {
                display: block;
            }
        }
        .card {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 1rem;
            // min-height: 450px;
            // padding-bottom: 3rem;
            overflow: hidden;
            text-align: left;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px $shadowColor;
            p {
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                font-family: $font;
                font-weight: 600;
            }
            .bakisbtn {
                margin: 1rem;
                margin-top: auto;
                a {
                    margin-left: auto;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 50px;
                    border: 1px solid #ff9e00;
                    @include respond(small) {
                        width: 30px;
                        height: 30px;
                    }
                }
                i {
                    font-size: 30px;
                    color: #ff9e00;
                    @include respond(small) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .yuvarlak {
        z-index: -1;
        position: absolute;
        height: 600px;
        width: 600px;
        right: -20%;
        top: -5%;
        border-radius: 750px;
        background-color: #f7f7fb;
    }
}

.musteri {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7fb;
    .center {
        @include respond(medium) {
            width: 100%;
        }
        .section-topic {
            @include respond(medium) {
                width: calc(100% - 2rem);
                margin: 0 auto;
            }
        }
    }
    .bg-image-top {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-60%);
        img {
            width: 100%;
        }
    }
    .bg-image-bottom {
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(60%);
        img {
            width: 100%;
        }
    }
    .musteriwrap {
        margin-top: 4rem;
        margin-bottom: 4rem;
        background-color: #f7f7fb;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 130px);
        grid-gap: 4rem;
        .musterines {
            cursor: pointer;
            filter: grayscale(9);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 50px;
            transition: 333ms all ease-out;
            // box-shadow: 0px 0px 10px $shadowColor;
            // box-shadow: 0px 0px 10px 4px rgba(227,230,241,0.9);
            @include mixin-box-shadow;

            img {
                // max-width: 90%;
                width: auto;
                max-width: 90%;
                max-height: 90%;
                height: auto;
            }
            &:hover {
                filter: none;
            }
            @include respond(medium) {
                height: 70px;
            }
        }
        &.musteriwrap-mobil {
            display: none;
            .musterines {
                margin-top: 1rem;
                margin-bottom: 1rem;
                border-radius: 30px;
            }
            @include respond(medium) {
                display: block;
            }
        }
        @include respond(medium) {
            display: none;
        }
    }
}

// @import "anasayfa-mediaqueries";
