// Extra extra large devices (tv, 1440px and up)
@media screen and (min-width: 1440px) {
}
// Extra large devices (large desktops, 1200px and up)
@media screen and (max-width: 1200px) {
}
// Large devices (desktops, 992px and up)
@media screen and (max-width: 1100px) {
    // .center {
    //     width: calc(100% - 4rem);
    // }

    .wrap {
        width: 100%;
        margin-top: 90px;
        .center {
            width: calc(100% - 4rem);
        }
    }

    // .bakis{
    //     border: 2px solid lime;
    //     .center {
    //             width: calc(100% - 4rem);
    //         // border: 2px solid black;
    //     }
    // }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}
// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
}
