// Extra extra large devices (tv, 1440px and up)
@media screen and (min-width: 1440px) {
}
// Extra large devices (large desktops, 1200px and up)
@media screen and (max-width: 1200px) {
}
// Large devices (desktops, 992px and up)
@media screen and (max-width: 992px) {

}
// Medium devices (tablets, 768px and up)
@media screen and (max-width: 768px) {
    .center{
        width: 90%;
    }
    .bakiswrap{
        .bakisnes {
            width: initial;
            .bakisnes-l {
                margin-bottom: 1rem;
                img {
                    height: auto;
                    width: 100%;
                }
            }
            &.flex-row{
                flex-direction: column;
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
}
